/*********************
BUTTONS
*********************/

//default button
%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {
    text-decoration: none;
  }
} 

//extending the button
.blue-btn {
  @extend %btn;
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } 

}
