/*********************
FOOTER
*********************/

.footer {
  @include clearfix;
  background:$black;
  color:$light-grey;
  font-size:0.9em;
  flex:none;
  padding:2em;
  @include breakpoint($breakpoint-mobile) {
    padding:1em;
  }

  p {
    line-height:1;
    margin:0;
  }

  .footer-logo {
    margin-top:20px;
    img {
      width: 100px;
      position: absolute;
    }
    a {
      display: inline-block;
      height: 25px;

      &:hover {
        .monotone {
          opacity: 0;
        }
        .color {
          opacity: 1;
        }
      }
    }
  }
}

.vcuarts:hover .monotone{opacity:0;-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0)}
.vcuarts:hover .color{opacity:1;-ms-filter:"alpha(Opacity=100)";filter:alpha(opacity=100);}
.vcuarts img{ position:absolute; z-index:12; border:0; }
.color{opacity:0;-webkit-transition:opacity 0.2s ease-in-out;transition:opacity 0.2s ease-in-out;-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0)}
.monotone{-webkit-transition:opacity 0.2s ease-in-out;transition:opacity 0.2s ease-in-out}