/*********************
FOOTER
*********************/

.footer {
  @include clearfix;
  background:$black;
  color:$light-grey;
  font-size:0.9em;
  flex:none;
  padding:2em;
  
  p {
    line-height:1;
    margin:0;
  }
}