/*********************
GENERAL STYLESHEET
*********************/

body {
  color: $black;
  font-family: $sans-serif;
  font-size: 18px;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &:after {
    content: '';
    position: fixed;
    left: 0;top: 0;
    width: 100%;height: 100%;
    background: linear-gradient(rgba($dark-grey, .7),rgba($dark-grey, .4));
    z-index: -1;
  }
}

#inner-content, .inner-footer, .inner-header {
  @include container($wrapper-width);
  overflow: hidden;
}

.super-container {
    flex:1 0 auto;
}

.container {
  overflow: hidden;
  padding: 0 2em;
}

.col2to1 {
  .primary {
    @include breakpoint(1100px){  
      @include span(first 8 of 12);   
    }
  }
  .secondary {
    @include clearfix;
    @include breakpoint(1100px){  
      @include span(last 4 of 12);
    }
  }
}

.block{
  position: relative;
  border:5px solid $black;
  padding:50px 25px;
  background: $white;
  @include breakpoint($breakpoint-desktop){
    padding: 50px;
  }
  @include breakpoint($breakpoint-mobile) {
    padding:50px 25px;
  }
  @include clearfix;
  margin-top: 2em;
  box-sizing: border-box;

  //content inside a block
  .block-content{

    *:first-child {
      margin-top:0 !important;
    }

    *:last-child {
      margin-bottom:0 !important;
    }
  }
}

.bg-color-light-yellow {
  background-color: rgba( $light-yellow, 1 );
}

.bg-color-transparent {
  background:none;
}