/******************************************************************
Site Name: VCUarts
Author: VCUarts Web Dev Team
Stylesheet: Main Stylesheet
******************************************************************/

@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";

$susy: (
  columns: 12,
  gutters: (2/3),
  math: fluid,
  output: float,
  gutter-position: after,
  grid-padding: 2em,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: overlay,
  ),
);

$wrapper-width: 1600px;

//partials
@import "partials/normalize";
@import "partials/variables";
@import "partials/functions";
@import "partials/mixins";
@import "partials/grid";

//everything else
@import "typography";
@import "buttons";
@import "general";
@import "links";
@import "headings";
@import "header";
@import "navigation";
@import "vcubar";
@import "footer";

@media print {
	@import "partials/print";
}
