/* =====================
   GRID
====================== */

$breakpoint-481: 481px;
$breakpoint-768: 768px;
$breakpoint-1030: 1030px;
$breakpoint-1240: 1240px;
$breakpoint-mobile: max-width 767px;
$breakpoint-desktop: min-width 768px;


$breakpoint-no-queries: false;
$breakpoint-no-query-fallbacks: true;